/* ==========================================================================
Custom Base Styles Go Here
========================================================================== */

/* ==========================================================================
Box-sizing: border-box
https://css-tricks.com/box-sizing/
========================================================================== */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
